@charset "utf-8";
@font-face {
	font-family: 'NewTheory';
	src:url('../fonts/NewTheory.ttf') format('truetype');
}

body{
	background-image:url(../photos/crp.jpg);
  padding-top: 10px;
} 

p{
  color:#9FF; 
  font-family: "NewTheory";
  font-size: 40px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 2s steps(60, end); 
}

p:nth-child(2){
  animation: type2 4s steps(60, end);
}

p a{
  color:#9FF;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}